venv/
env/
ENV/
.env

__pycache__

db.sqlite3

*.code-workspace
django-saas.code-workspace

# ignore vendor static files
src/staticfiles/vendors/

# ignore local-cdn static files
local-cdn/

.cursor/
