{% extends 'base.html' %}

{% block title %} Users {% endblock title %}

{% block content %}

{% include 'snippets/welcome-user-msg.html' %}
    {% if perms.auth.view_user %}
        <div>   
            <ul>
                {% for instance in object_list %}
                    <li><a href="/profiles/{{ instance.username }}">{{ instance.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>You don't have permission to view this page</p>
    {% endif %}
{% endblock content %}
